<%= render "shared/form" %>
<div id="showProgress"></div>
<section class="flights-content content hotels-content">
  <%= render partial: "hotel_prices", :locals => { :@hotels => @hotels, :@status => @status } %>
</section>

<div class="row">
  <div class="container">
    <div class="watchdog-area">
      <%= render partial: "hotel_watchdog" %>
    </div>
  </div>
</div>