<%= render "shared/form" %>
<section class="flights-content content hotels-content">
  <%= render partial: "price", :locals => { :prices => @prices, :cheap => @cheap, :duration => @duration } %>
</section>