<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="panel panel-default">
      <div class="panel-heading">Some Suggestions for you, with cheapest hotel prices for</b></div>
      <div class="panel-body">
        <%= render 'shared/hotels_email', locals: {:@hotels => @hotels} %>
      </div>
    </div>    

    <p>For more info please visit <a href="http://www.example.com"> www.example.com </a></p>
    <p>Getting too much emails! <a href="http://www.suavistech.com:3000/unsubscribe?email=<%= @user.email %>"> Unsubscribe </a></p>
  </body>
</html>