<%= render "shared/form" %>
<div id="showProgress"></div>
<section class="flights-content content hotels-content">
  <div id="loader-wrapper" style="background:none;">
    <div id="loader"></div>
  </div>
  <div class ="grid cities" id="cities"></div>
  <div class ="grid nigeria" id="nigeria"></div>
  <div class ="grid africa" id="africa"></div>
  <div class ="grid asia" id="asia"></div>
  <div class ="grid europe" id="europe"></div>
  <div class ="grid usa" id="usa"></div>
  <div class="grids"></div>
</section>
<style type="text/css">
  .flights-content #loader-wrapper{
    background: none !important;
    position: static !important;
  }
  .flights-content #loader-wrapper #loader{
    margin: 0 auto !important;
    left: 0 !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){

    var country = "United States";
    var zone = "";
    var district = "";
    var countryCode = "US";
    var currencyCode = "USD";
    var latitude = 37.4192;
    var longitude = -122.0574;
    function setCookies(){
      $.getScript('http://www.geoplugin.net/javascript.gp?ip=<%= request.remote_ip %>', function() {
        country1 = geoplugin_countryName();
        zone = geoplugin_region();
        district = geoplugin_city();
        countryCode1 = geoplugin_countryCode();
        currencyCode1 = geoplugin_currencyCode();
        latitude1 = geoplugin_latitude();
        longitude1 = geoplugin_longitude();
        Cookies.set('countryName', country1);
        Cookies.set('currency', currencyCode1);
        Cookies.set('country', countryCode1);
        if(latitude1 != 0)
          Cookies.set('latitude', latitude1);
        if(longitude1 != 0)
          Cookies.set('longitude', longitude1); 
        if(!(Cookies.get('countryName'))){
          Cookies.set('countryName', country);
        }
        if(!(Cookies.get('currency'))){
          Cookies.set('currency', currencyCode);
        }
        if (!(Cookies.get('country'))){
          Cookies.set('country', countryCode);
        }
        if (!(Cookies.get('latitude'))){
          Cookies.set('latitude', latitude);
        }
        if (!(Cookies.get('longitude'))){
          Cookies.set('longitude', longitude);
        }
      });
      if (Cookies.get('countryName') != "") {
        return true
      }  
      else{
        return false
      }
    }
    setCookies();
  });
  $.ajax({
    method: "GET",
    url: "/cities.js",
    success:function(data){
    }
  });
</script>