.main-footer{
  margin: 0;
}
.content{
  min-height: 225px;
}
.destination-wrapper{
	width: 100%;
  margin: 0 auto;
  padding: 2.6em 0;
  border-top: 1px solid white  !important;
  background-color: #f6f8fa !important;
}
.destination-wrapper .destination{
  max-width: 1048px;
  margin: 0 auto;
}
.destination-wrapper h2 strong {
  font-size: 2em;
  display: block;
  font-weight: normal;
  text-align: center;
}
.destination-wrapper ul{
	padding: 2%;
	border: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.destination .destination_thumb img{
  width: 219px;
  height: 167px;
  left: 32px;
  top: 265px;
  right: 251px;
  bottom: 432px;
  margin-top: 15px;
}
.price-desc{
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 59px;
  color: #fff;
  background: rgba(0,109,199,0.77);
}
.price-tag{
  top: 150px; 
  left: 16px; 
  width: 100%;
  margin-right: 5px;
  font-weight: 400; 
  font-size: 12px;
}
.destination-wrapper .destination a .destination_cta h4{
	font-size: 22px;
	color: white;
	margin-bottom: 0;
	font-weight: 100;
	color: #21c4d9;
	margin-bottom: 0.21667em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.1;
}
.destination-wrapper .destination a .destination_cta p {
  color: white;
  font-size: 14px;
  color: #21c4d9;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 960px) 
.destination-wrapper .destination:nth-child(odd) {
  margin-right: 0;
}

@media screen and (min-width: 960px) 
.destination-wrapper .destination {
  width: 32%;
  background-position: 50% 0;
  margin-bottom: 2%;
}
  }
.ui-widget-content {
    border: 1px solid #000;
    background: #fff !important;
    color: #333;
}


.ui-widget {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-state-focus{
  background: transparent;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #00acd6;
  opacity: 0.4;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #E62117;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #CFF271;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
